# Configuration MongoDB

# Pour standalone
MONGO_STANDALONE_URI=mongodb://testuser:testpass@localhost:27017/testdb

# Pour replica set
MONGO_REPLICA_URI=mongodb://testuser:testpass@localhost:27018,localhost:27019,localhost:27020/testdb?replicaSet=rs0

# Pour sharding
MONGO_SHARDING_URI=mongodb://testuser:testpass@localhost:27021/sharddb